@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
	font-family: Montserrat;
	font-weight: 600;
	font-size: 16px;
}

header {
	width: 100%;
}

header > ul {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	text-align: center;
	border-bottom: 1px solid #0006;
	padding: 1em;
}

header > ul > li {
	width: 100%;
	font-size: 18pt;
	cursor: pointer;
}

header > ul > li.active {
	background: red;
}

header > ul > li::marker {
	content: '';
}

main > div {
	height: max-content;
	min-height: 10px;
}

img {
	max-height: 25vh;
	width: auto;
}

.popup-edit, .blocks {
	text-align: center;
}

.blocks {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blocks > ul, #users > ul, #requests > ul {
	width: 50%;
	margin: auto;
}

.blocks > ul > li {
	margin: 2px;
}

.blocks > ul > li::marker {
	content: '';
}

.li-el {
	display: flex;
	flex-direction: row;
}

button {
	outline: none;
	border: 1px solid black;
	background: none;
	margin-left: 2px;
	font-size: 16px;
}

ul input {
	outline: none;
	border: none;
	background: none;
	color: black;
	width: 100%;
	font-size: 16px;
}

@media (max-width: 720px) {
	header > ul {
		flex-direction: column;
	}

	header > ul > li {
		padding: 4px;
	}

	.blocks > ul {
		width: 90%;
	}
}
